.panel {
	padding: 0;        	
	background: none;
}

.panel-info {
	border-color: #BCE8F1;
}

.row {
	max-width: none;
}

@media (min-width: 768px) {
	.col-sm-1half {
		width: 12.5%;
	}    	
}

input[type="radio"] {
	margin: 0;    		
}

table.input-radio-address td input[type="radio"] {
	float: right;
	margin-top: 0px;
}

fieldset {
	margin: 0px 0px 0px;
	padding: 0;
} 

.input-radio {
	border: none;
	background: inherit;
	margin-top: 4px;
}

table.input-radio tr:nth-of-type(2n) {
	background: inherit;
	border-top: none;
}

table.input-radio tbody tr td, table.input-radio tr td, table.input-radio tr:nth-of-type(2n), table.input-radio tbody tr {    		
	padding: 0px;
	background: inherit !important;  
	border: none !important;  		
}

.panel-heading {
	padding: 3px 15px;
}

.panel-title {
	color: #31708F !important;
	font-weight: 500;
	margin: 0;
}

.messageTable {
	background: inherit;
	border: none;
}
.message .messageText {
    margin-top: -8px;
}

.modal {
	position: absolute;
}

table.messageTable tr:nth-of-type(2n) {
	background: inherit;    		
}

.modal-section-header {
	margin-top: -19px;
	padding-bottom: 6px;
	background-color: #D9EDF7;
	padding-top: 6px;
	padding-left: 4px;
}

.secondary-contact-header {
	background-color: #AAE4D1;
}

label {
	color: #4d4d4d;
	cursor: pointer;
	display: block;			
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 0;
}

input[type="radio"] + label {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 0;
    vertical-align: baseline;
}

input[type="text"] {
	width: 90%;  		
}

.dateFormat {
	display: none;
}

.dataTables_wrapper div.row {
    margin-left: 0px;
    margin-right: 0px;
}

.dataTables_wrapper {
    overflow-x: auto;
}

.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_length  {
    margin-left: 15px;
}


.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_paginate {
    margin-right: 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {       
  background: inherit !important;
  border: none;
}

.pagination .paginate_button.current a {
    background-color: #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: none;
    background-color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    border: none;
    background: inherit;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: none;
    background: inherit;  
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    background: inherit;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em .2em;
}

table.dataTable thead th, table.dataTable, table.dataTable.no-footer {
    border: none;
}