
.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 5%;
    left: 25%;
    width: 50%;
    /*height: 320px;*/
    padding: 16px;
    border: 2px solid #408040;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
.searchPanelColor {
    background-color: #e9e9e9 !important;
}
.nameLink {
    text-decoration: underline;
    cursor: pointer;
}

div.requester-info { display: inline-table; }
div.requester-info div { display: inline-table; margin: 5px 3px;}
div.requester-info div, div.requester-info a, div.requester-info span { font-size: 12px; }
div.requester-info div.label { font-weight: bold; }
div.requester-info div .remove-link { margin-left: 5px; }
div.requester-info div.account-group
{
    margin-right: 20px;
    min-width: 150px;
}

.searchTextInput {
    width: 90%;
    max-width: 200px;
}
.searchInput, .searchLabel {
    clear:both;
}

/* before search show the results panel with a min height otherwise it will look like a grey line*/
div[id$='notSearching'] {
    min-height: 60px;
}

/* results panel should fill the width but always be at least 500 px wide*/
span[id$='searchResults'] {
    width: 100%;
    min-width: 500px;
}

/* STYLES FOR CREATE ACCOUNT AND AFFILIATE MODALS*/
div.fieldTable div.field {
    width: 50%; /*change to 33% for 3 columns wide and set div.fieldTable div.field (input/select/label) to 1/2 of this value */
    display: inline-block;
    padding-bottom: 10px;
}
div.fieldTable.searchTable div.field {
    width: 33%;
}

div.fieldTable div.field label {
    display: block; /* keep label on its own line */
}

div.fieldTable div.field input,
div.fieldTable div.field select,
div.fieldTable div.field label {
    margin-left:25%; /* set this value to 1/2 of the div.fieldTable div.field width value */
}

div.fieldTable.searchTable div.field input,
div.fieldTable.searchTable div.field select,
div.fieldTable.searchTable div.field label {
    margin-left:0;
}

div.fieldTable div.full-width {
    width: 100%;
}
div.fieldTable.centered {
    text-align: center;
}
div.fieldTable.centered div.message {
    text-align: left;
    margin-bottom: 20px;
}
div.fieldTable table {
    margin: auto;
}

div.fieldTable input[type="checkbox"] { margin: 0 5px; }
div.fieldTable hr {
    width: 100%;
    margin: 15px 0;
}
div.fieldTable .right {
    float:right;
    margin-right: 20px;
}
div.fieldTable h1 {
    margin-bottom: 20px;
    display: block;
}
div.fieldTable div.field div.state-country { display:inline-block; }

input.btn.wideButton { width: 200px; }
input.btn { margin: 5px; }
img.add-icon { width: 20px; }