.ui-layout-resizer {
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-size: 1px;
    text-align: left;
    overflow: hidden;
    z-index: 2;
    background-color: rgb(221, 221, 221);
    border: none;
    cursor: e-resize;
    right: 400px;
    height: 794px;
    width: 6px;
    top: 0px;
}
.ui-layout-center {
    padding: 0px !important;
}

.resizeHint {
    bottom: 2px;
    left: 2px;
    position: absolute;
    font-size: x-small;
    color: darkgray;
}
.attachmentHeader {
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    position: absolute;
    text-align: center;
    border-bottom: thin solid black;
}
.attachmentContent {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-top: 50px;
}

.modalBackground {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
}
.modalContent {
    margin: 10px;
    background-color: rgba(0,0,0,0);
}