body {
    background-color: white;
}

.mavens div.override-slds__select select {
    /*
        -this is a hack since salesforce has a bug rendering a dependent select list with a style class
        -had to pull the styles out of the SLDS stylesheet for ".slds .slds-select_container .slds-select" and
         ".slds .slds-select_container .slds-select" and put them here.
    */
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 8px;
    padding-right: 24px;
    background-color: #fff;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    height: 32px;
}

.mavens div.override-slds__select select:disabled { color: lightgray; }



/* There is styling of apex:select fields with size=1 that changes the height to 37px.*/
.mavens .slds-select[size="1"] { height: 32px; }




/* TOOLTIPS */
/* richtext in a tooltip in a bordered table renders with a border. remove it*/
.mavens .slds-table--bordered .tooltip-container td { border-top: 0; }

.mavens .slds-table:not(.slds-no-row-hover) .tooltip-container tbody tr:hover>td {
    box-shadow: none;
    background-color: inherit;
}

.mavens .tooltip-container .slds-popover.slds-popover--tooltip {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
}

.mavens .tooltip-container:hover .slds-popover.slds-popover--tooltip {
    visibility: visible;
    opacity: 1;
}



.mavens div.slds-spinner_container {
    /* SLDS OOB only puts overlay on visible content so if you scroll it doesn't cover it anymore. fixed with this*/
    position: fixed;
}

/* sortable tables */
.mavens table th span.sort {
    cursor: pointer;
}

.mavens table th span.sort .slds-icon_container {
    display:none;
}

.mavens table th span.sort .not-sorted .slds-icon_container {
    display:inline;
}

.mavens table th span.sort.desc .sort-down .slds-icon_container {
    display: inline;
}

.mavens table th span.sort.asc .sort-up .slds-icon_container {
    display: inline;
}

.mavens table th span.sort.desc .not-sorted .slds-icon_container,
.mavens table th span.sort.asc .not-sorted .slds-icon_container {
    display: none;
}

/* styling for sldsinput field lookups and owner lookups*/
.mavens .lookupInput { position: relative; }
.mavens .lookupInput select, .mavens .owner select {
    -moz-appearance:none;
    padding-left: 8px;
    padding-right: 24px;
    background-color: #fff;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: 4px;
    transition: border .1s linear,background-color .1s linear;
    height: 32px;
}

.mavens .lookupInput.hasError { width: 60%; }
.mavens .lookupInput select { width: 100%; }

.mavens .slds-input-has-icon--right .lookupInput select+a svg.slds-input__icon,
.mavens .slds-input-has-icon--right .lookupInput+a svg.slds-input__icon {
    right: 0em;
    position: relative;
    left: 5px;
    top: 0;
}
/* END styling for sldsinput field lookups and owner lookups*/