.info {
  border:2px solid #5bc0de;
  padding:10px;
  border-radius:5px;
  background-color:#eee;
}

#center-button {
  margin: 0 auto; 
  text-align: center;
}

#centerh4 {
  text-align:center;
}

svg {
 border-radius:3px;
}    
.node {
    cursor: pointer;
}

.n circle, .node circle {
  fill: #fff;
  stroke: #99ccff;;
  stroke-width: 3px;
}

.n text, .node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #99ccff;
  stroke-width: 2px;
}

.hyper {
    color: red;
    text-decoration: underline;
}

.hyper:hover {
    color:yellow;
    text-decoration: none;
}   
.selected {
  font-weight:bold;
}
.not-selected {
  font-weight:normtal;
}

.results {
  max-height: 300px;
  overflow: auto;
  margin-top: 5px;
}

.btn {
  margin: 5px;
}

.btn-focus {
  visibility: visible;
}
