
    a.accountNames {
        font-size: 11px;
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
    }

    .accountLabel {
        font-weight: bold;
        font-size: 10px;
        color: #4a4a56;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px;
    }
    .newDataInputPanel {
        display: inline-block;
        white-space: nowrap;
        margin: 0 10px;
    }

    .newDataLabel {
        margin: 10px;
    }

    .inputLabel {
        text-align: right;
        display: inline-block;
        width: 50%;
    }

    .inputField {
        text-align: left;
        display: inline-block;
        width: 50%;
    }

    input {
        width: 100%;
        font-size: small !important;
    }
    select {
        width: 100%;
    }
    label, .control-label {
        margin-bottom: 0px;
        font-size: x-small;
        font-weight: normal;
        width: 100%;
        text-align: left;
    }
    body {
        font-size: small;
        line-height: 1.3;
        overflow-x: hidden;
        background-color: whitesmoke !important;
    }
    .buttonRow {
        margin-top: 6px;
    }
    .tallRow {
        margin-top: 6px;
    }

    .searchPanelColor {
        background-color: #e9e9e9 !important;
    }

    .searchPanel {
        width:100%; 
        min-width:250px; 
        display:inline-block; 
        float:left; 
        background-color: #e9e9e9;
        border-radius: 4px;
    }
    .searchPanelColor {
        background-color: #e9e9e9 !important;
    }

    .btn {
        font-size: x-small !important;
    }

    .selectedRequesterUpdateLink {
        margin: 6px;
        float: right;
    }

    #formCreateNewComponentContent {
        display: none;
        text-align: center;
    }

    #requesterInformationPanel {
        background-color: #E7EAF8;
        /*padding: 10px 20px;*/
        min-height: 80px;
    }



    .padded-div {
        padding: 10px;
        min-height: 80px
    }

    .info-box {
        padding-bottom: 10px;
        padding-top: 10px;
        min-height: 80px;
        margin-right: 1%;
    }
    .info-box-patient {
        background-color: #DCECF3;
    }
    .info-box-program {
        background-color: #76ACD3;
    }
    .info-box-caregiver {
        background-color: #EBEBEB;
    }
    .info-box .person-img {
        float: left;
        width: 40px;
        margin-top: 10px;
    }
    .info-box .requester-info {
        vertical-align: top;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
    }
    .info-box .requester-info-label {
        margin-right: 5px;
        margin-top: 0px;
        font-weight: bold;
    }
    .info-box .requester-info-value {
        margin-top: 2px;
        display:block;
    }