<apex:page standardController="Case" showHeader="false" sidebar="false">
    <apex:outputPanel layout="none" rendered="{!case.Program_MVN__c != null}">
        <apex:iframe src="https://survey.clicktools.com/app/survey/go.jsp?iv={!case.Program_MVN__r.Clicktool_Inbound_Script_Id_MVN__c}&q1={!case.Id}" 
        width="1000" height="500" scrolling="true"/>
    </apex:outputPanel>
    <apex:outputPanel layout="none" rendered="{!case.Program_MVN__c == null}">
        {!$Label.Clicktool_No_Assigned_Program_Member_Message_MVN}
    </apex:outputPanel>
    
</apex:page>