<apex:page standardController="Program_Member_MVN__c" showHeader="false" standardStylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" docType="html-5.0" >
    <apex:remoteObjects >
        <apex:remoteObjectModel name="Address_vod__c" jsShorthand="Address"/>
        <apex:remoteObjectModel name="Contact_Information_MVN__c" jsShorthand="ContactInformation"/>
        <apex:remoteObjectModel name="Communication_Preference_MVN__c" jsShorthand="CommunicationPreference"/>
    </apex:remoteObjects>

    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <apex:stylesheet value="{!URLFOR($Resource.SLDS102, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
            <apex:includeScript value="{!$Resource.MedicalHistoryJSMVN}"/>
        </head>
        <body>
            <div class="slds">  
                <c:ContactInformationMVN memberIdAttr="{!Program_Member_MVN__c.Id}"></c:ContactInformationMVN>
            </div>
        </body>
    </html>
</apex:page>