<apex:page standardController="Document_MVN__c" extensions="DocumentEditExtensionMVN">
    <apex:includeScript value="/support/console/39.0/integration.js"/>
    <apex:sectionHeader title="{!$Label.Document_Edit_Title}" subtitle="{!$Label.Document_Edit_Subtitle}"/>
    <apex:form >
        <apex:pageBlock title="{!$Label.Document_Edit_Subtitle}" mode="edit">
            <apex:pageMessages ></apex:pageMessages>
            <apex:pageBlockSection columns="2">
                <apex:repeat value="{!$ObjectType.Document_MVN__c.FieldSets.Document_Fields_MVN}"
                             var="field">
                    <apex:inputField value="{!Document_MVN__c[field.fieldPath]}"
                                     required="{!OR(field.required, field.dbrequired)}"
                                     rendered="{!NOT(isUploadedAndSaved)}"/>
                    <apex:outputField value="{!Document_MVN__c[field.fieldPath]}"
                                      rendered="{!isUploadedAndSaved}"/>
                </apex:repeat>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" rendered="{!IF(Document_MVN__c.Id == null, true, false)}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="" for="fileInput"/>
                    <apex:outputPanel layout="block" styleClass="requiredInput" id="fileInput">
                        <div class="requiredBlock"/>
                        <apex:inputFile value="{!file.Body}" filename="{!file.Name}"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton value="{!$Label.Generic_Save_Label}"
                                    action="{!save}"
                                    onclick="onSave()"
                                    disabled="{!isUploadedAndSaved}">
                </apex:commandButton>
                <apex:commandButton value="{!$Label.Generic_Cancel_Label}"
                                    immediate="true"
                                    onclick="onCancel()"
                                    disabled="{!isUploadedAndSaved}">
                </apex:commandButton>
                <img src="/img/loading.gif" class="loadingIcon" style="display:none;"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <apex:outputPanel rendered="{!isUploadedAndSaved}">
        <script type="text/javascript">
            sforce.console.getEnclosingPrimaryTabId(function closeSubtab(result) {
                sforce.console.refreshPrimaryTabById(result.id, true)
                onCancel()
            })
        </script>
    </apex:outputPanel>
    <script type="text/javascript">
        function onSave() {
            var loadingIcons = document.getElementsByClassName('loadingIcon')

            for (var i = 0; i < loadingIcons.length; i++) {
                loadingIcons[i].style.display = 'inline'
            }

            var buttons = document.getElementsByClassName('btn')
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].style.display = 'none'
            }
        }

        function onCancel() {
            sforce.console.getEnclosingTabId(function closeSubtab(result) {
                sforce.console.closeTab(result.id)
            })
        }
    </script>
</apex:page>