body {
    font-size: 12px;
}
body a {
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:focus {
    text-decoration: none;
}

html, body {
    height: 100%;
}

#container {
    background-color: #F8F8F8;
    min-height: 100%;
    position: absolute;
    width: 100%;
}
#titleContainer {
    padding-top:0px;
    text-align: center;
}
#buttonContainer {
    /*float: left;*/
    text-align: center;
    width: 100%;
}
#textArea {
    padding: 5px;
    display:block;
}
#textArea textarea {
    border-color: #ddd;
    border-radius: 5px;
}
#lastSavedContainer{
    text-align: center;
}
#saveStatus {
    bottom: 1px;
    height: 10px;
    left: 43%;
    padding: 0pt 5px;
    position: absolute;
    text-align: center;
    top: 43px;
}

.newLinks {
    color: black;
    font-size: 11px;
    white-space: nowrap;
}
.icon {
    display: inline-block;
    text-decoration: none;
    width: 24%;
}
.divider {
    border-right: 0px solid #333;
    margin-right: 1px;
}
.icon a {
    text-decoration: none;
}
.iconLabel{
    display: block;
    font-size: 10px;
    margin-top: 2px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content:"\e252";
    -moz-osx-font-smoothing: grayscale;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\e250";
    -moz-osx-font-smoothing: grayscale;
}
.navbar-toggle.collapsed:after{
    /* symbol for "collapsed" panels */
    content:"\e251";
    -moz-osx-font-smoothing: grayscale;
}
.navbar-toggle:after{
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content:"\e252";
    -moz-osx-font-smoothing: grayscale;
}
#nav-bar-toggle-button{
    padding: 3px 5px;
    color: #777;
    margin-top: 14px;
}
.accordion-title {
    cursor: default;
}
.accordion-toggle.accordion-link.collapse.in{
    display: inline-block;
}
.panel-collapse {
    padding:5px;
}
.panel-title{
    font-size: 14px;
}
.panel-heading {
    padding:3px;
}
.notes-separator {
    padding-left: 10px;
    padding-bottom: 0;
    margin-top:530px;
}
.navbar-fixed-top{
    background-color:inherit;
}
#textArea textarea{
    resize: vertical;
}
.note-text-area{
    text-align: center;
    padding-bottom:8px;
    background-color: #F8F8F8;
    box-shadow: 1px 5px 7px -5px grey;
}