body {
    font-size: 12px;
}
body a {
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:focus {
    text-decoration: none;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content:"\e252";
    -moz-osx-font-smoothing: grayscale;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\e250";
    -moz-osx-font-smoothing: grayscale;
}
.accordion-title {
    cursor: default;
}
.accordion-toggle.accordion-link.collapse.in{
    display: inline-block;
}
.stage-active{
    color: #337AB7;
}
.stage-inactive{
    color: #777;
    opacity: .7;
}
.stage-complete{
    color: #4F892E;
}
.glyphicon{
    float: left;
    top: .2em;
    padding-right: 3px;
}
.glyphicon.glyphicon-filter{
    top: 0em;
}
.input-group-addon{
    padding-right: 26px;
}
.checklist-text{
    display: inline-block;
    width: 70%;
    margin-left: 2px;
}
.checklist-item{
    padding: 10px 0px 10px 10px;
    width:65%;
}

table {
    width: 100%;
}

.popover-content {
    min-height: 70px;
    width: 250px;  
}

textarea.popover-textarea {
    border: 0px;   
    margin: 0px; 
    width: 100%;
    height: 100%;
    padding: 0px;  
    box-shadow: none;
}

.popover-footer {
    margin: 0;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
}

.popover-title {
    display:block;
}

.glyphicon.glyphicon-question-sign {
    cursor:pointer;
}

.glyphicon.glyphicon-plus {
    cursor:pointer;
}

.panel-title {
    font-size: 14px;
}
.panel-heading {
    padding-left: 10px;
}
.page-header {
    padding-bottom: 2px;
    margin: 0px;
    border-bottom: 1px solid #eee;
}
li:nth-child(odd).list-group-item { 
    background-color: #f9f9f9;
}
.select2-selection--multiple {
    border: 1px solid #aaa !important;
    outline: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.input-group.panel {
    padding: 5px;
    box-shadow: none;
    margin-bottom: 5px;
}
.panel-purple {
    border-color: #b1a6d8;
}
.panel-purple > .panel-heading {
    color: #9954bb;
    background-color: #cdbfe3;
    border-color: #b1a6d8;
}


